@charset "UTF-8";
.woo-cat-slider {
    /* Icons */
    /* Arrows */
    /* Dots */
}
.woo-cat-slider.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.woo-cat-slider .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.woo-cat-slider .slick-list:focus {
    outline: none;
}
.woo-cat-slider .slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.woo-cat-slider .slick-slider .slick-track,
.woo-cat-slider .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.woo-cat-slider .slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.woo-cat-slider .slick-track:before,
.woo-cat-slider .slick-track:after {
    display: table;
    content: '';
}
.woo-cat-slider .slick-track:after {
    clear: both;
}
.woo-cat-slider .slick-loading .slick-track {
    visibility: hidden;
}
.woo-cat-slider .slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
.woo-cat-slider [dir='rtl'] .slick-slide {
    float: right;
}
.woo-cat-slider .slick-slide img {
    display: block;
}
.woo-cat-slider .slick-slide.slick-loading img {
    display: none;
}
.woo-cat-slider .slick-slide.dragging img {
    pointer-events: none;
}
.woo-cat-slider .slick-initialized .slick-slide {
    display: block;
}
.woo-cat-slider .slick-loading .slick-slide {
    visibility: hidden;
}
.woo-cat-slider .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.woo-cat-slider .slick-arrow.slick-hidden {
    display: none;
}
.woo-cat-slider .slick-loading .slick-list {
    background: #fff url("../images/ajax-loader.gif") center center no-repeat;
}
@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/slick.eot");
    src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg#slick") format("svg");
}
.woo-cat-slider .slick-prev,
.woo-cat-slider .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.woo-cat-slider .slick-prev:hover,
.woo-cat-slider .slick-prev:focus,
.woo-cat-slider .slick-next:hover,
.woo-cat-slider .slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}
.woo-cat-slider .slick-prev:hover:before,
.woo-cat-slider .slick-prev:focus:before,
.woo-cat-slider .slick-next:hover:before,
.woo-cat-slider .slick-next:focus:before {
    opacity: 1;
}
.woo-cat-slider .slick-prev.slick-disabled:before,
.woo-cat-slider .slick-next.slick-disabled:before {
    opacity: .25;
}
.woo-cat-slider .slick-prev:before,
.woo-cat-slider .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.woo-cat-slider .slick-prev {
    left: -25px;
}
.woo-cat-slider [dir='rtl'] .slick-prev {
    right: -25px;
    left: auto;
}
.woo-cat-slider .slick-prev:before {
    content: '←';
}
.woo-cat-slider [dir='rtl'] .slick-prev:before {
    content: '→';
}
.woo-cat-slider .slick-next {
    right: -25px;
}
.woo-cat-slider [dir='rtl'] .slick-next {
    right: auto;
    left: -25px;
}
.woo-cat-slider .slick-next:before {
    content: '→';
}
.woo-cat-slider [dir='rtl'] .slick-next:before {
    content: '←';
}
.woo-cat-slider .slick-dotted.slick-slider {
    margin-bottom: 30px;
}
.woo-cat-slider .slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.woo-cat-slider .slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.woo-cat-slider .slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.woo-cat-slider .slick-dots li button:hover,
.woo-cat-slider .slick-dots li button:focus {
    outline: none;
}
.woo-cat-slider .slick-dots li button:hover:before,
.woo-cat-slider .slick-dots li button:focus:before {
    opacity: 1;
}
.woo-cat-slider .slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.woo-cat-slider .slick-dots li.slick-active button:before {
    opacity: .75;
    color: black;
}
